<!doctype html>
<head>
<title>Read God's Word</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
<script language="JavaScript" type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>

<div class="topnav">
  <a href="/{{user}}">Reading</a>
  <a href="/notes/{{user}}">Notes</a>
  <a href="/progress/{{user}}">Progress</a>
  <a href="/flashcards/{{user}}">Flashcards</a>
  <a href="/quiz/{{user}}">Quiz</a>
  <a class="active" href="/help/{{user}}">Help</a>
  {% if user %}
  <input style="margin:0;float:right;" type="button" onclick="document.getElementById('login').style.display='block'" value="{{user}}">
  {% else %}
  <!-- Button to open the modal login form -->
  <input style="margin:0;float:right;" type="button" onclick="document.getElementById('login').style.display='block'" value="Log In">
  {% endif %}
</div>

{% if user %}

<div id="login" class="modal">
  <!-- Modal Content -->
  <div class="animate">
    <div class="login-page">
      <span onclick="document.getElementById('login').style.display='none'" 
class="close" title="Close Modal">Close</span>
      <div class="form">
        <form class="logout-form" action="/logout">
          <p style="text-align:left;"><b>Email: </b>{{email}}</p>
          <button>Log Out</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% else %}

<div id="login" class="modal">
  <!-- Modal Content -->
  <div class="animate">
    <div class="login-page">
      <span onclick="document.getElementById('login').style.display='none'" 
class="close" title="Close Modal">Close</span>
      <div class="form">
        <form class="register-form" action="/register">
          <input type="text" name="reguname" placeholder="username"/>
          <input type="password" name="regpsw" placeholder="password"/>
          <input type="email" name="regemail" placeholder="email address"/>
          <button>Register</button>
          <p class="message">Already registered? <a id="a3" href="#">Log In</a></p>
        </form>
        <form class="reset-form" action="/reset">
          <input type="text" name="resuname" placeholder="username"/>
          <input type="email" name="resemail" placeholder="email address"/>
          <input type="password" name="respsw" placeholder="new password"/>
          <button>Reset Password</button>
          <p class="message">Try again? <a id="a4" href="#">Log In</a></p>
        </form>
        <form class="login-form" action="/login">
          <input type="text" name="loguname" placeholder="username"/>
          <input type="password" name="logpsw" placeholder="password"/>
          <button>Log In</button>
          <p class="message">Not registered? <a id="a1" href="#">Create an account</a></p>
          <p class="message">Forgot password? <a id="a2" href="#">Reset password</a></p>
        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
$('#a1').click(function(){
   $('.login-form').hide();
   $('.reset-form').hide();
   $('.register-form').show();
});
$('#a2').click(function(){
   $('.login-form').hide();
   $('.reset-form').show();
   $('.register-form').hide();
});
$('#a3').click(function(){
   $('.login-form').show();
   $('.reset-form').hide();
   $('.register-form').hide();
});
$('#a4').click(function(){
   $('.login-form').show();
   $('.reset-form').hide();
   $('.register-form').hide();
});
</script>

{% endif %}

<script>
// Get the modal
var modal = document.getElementById('login');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

<div class="main">

<div>
	<h2>Reading:</h2>
	<p>Type in reference, e.g. 2tim1:2--2:1, and press ENTER or click "Search".</p>
	<p>Click "Show/Hide Verse Number" to show/hide verse number.</p>
	<p>Click "Add to Flashcards" to add this verse/passage to your Flashcards.</p>
	<p>Click "Finish Reading" to mark this verse/passage as read.</p>
	<p>You can also submit a note corresponding to this verse/passage.</p>
</div>

<div>
	<h2>Notes:</h2>
	<p>Your notes are displayed here.</p>
</div>

<div>
	<h2>Progress:</h2>
	<p>Your reading progress is displayed here.</p>
</div>

<div>
	<h2>Flashcards:</h2>
	<p>Your flashcards are displayed here. Click on the flashcards to see the other side.</p>
</div>

<div>
  <h2>Quiz:</h2>
  <p>Write down the verse in the text area. Click on "Show Answer" to see the passage. The small icon below the text area indicates whether you have made a mistake, or have not finished, or have finished correctly.</p>
</div>

<div>
  
  

</div>

</div>

</body>
</html>
