<!doctype html>
<head>
<title>Read God's Word</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Reading</a>
  <a href="/notes">Notes</a>
  <a href="/progress">Progress</a>
  <a href="/flashcards">Flash Cards</a>
  <a href="/quiz">Quiz</a>
</div>

<div>
  Passage: <input type="text" id="reference"><input type="button" onclick="search()" value="Search">

</div>

<div class='row'>

  {% if error %}
    <p>{{error}}</p>
  {% endif %}

  {% if reference %}

  <div class='column-l'>

    {% if reference %}
      <p>{{reference}} <input id="number" type="button" onclick="change('{{reference}}')" value='{{number}}'></p>
    {% endif %}
  	{% if passage %}
  	  <p class='passage'>{{passage}}</p>
  	{% endif %}
    <input type="button" onclick="store('{{reference}}')" value="Add to Flashcards">
    <input type="button" onclick="check('{{reference}}')" value="Finished Reading">

  </div>

  <div class='column-r'>
    <textarea id="note" cols="58" rows="5"></textarea>
    <input type="button" onclick="submit('{{reference}}')" value="Submit">
  </div>

  {% endif %}

</div>

<script src="{{ url_for('static',filename='js/base.js') }}"></script>

</body>
</html>
