  body {
    padding: 100px;
    width: 1000px;
    margin: auto;
    text-align: left;
    font-weight: 300;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #121212;
  }
  .column {
    float: left;
    width: 40%;
    margin-right: 10px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  input[type=text] {
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  h1, h2, h3, h4 {
    font-family: 'Source Sans Pro', sans-serif;
  }
  textarea {
    margin-top: 20px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    resize: vertical;
  }