body {
  width: 1000px;
  margin: auto;
  text-align: left;
  font-weight: 300;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #121212;
}
.notes {
  white-space: pre-line;
}
.passage {
  white-space: pre-line;
}
.progress {
  white-space: pre-line;
}
.column-l {
  float: left;
  width: 49%;
  margin-right: 1%;
}
.column-r {
  float: left;
  width: 49%;
  margin-left: 1%;
}
.container {
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}
.grid-item {
  padding: 2px;
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
input[type=text] {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  margin: 8px 0;
  box-sizing: border-box;
}
input[type=button], input[type=submit], input[type=reset] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
#number {
  background-color: white;
  border: none;
  color: #4CAF50;
  padding: 0px 0px;
  font-size: 12px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  margin: 0px 0px 0px 0px
}
h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
}
textarea {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  resize: vertical;
}